.e-box.e-boxpadding
  h2 Segment 1
  .e-field
    e-select
      select.e-select
        option All recipients
        option Option 01
  .e-grid.e-grid-small.e-grid-stretch
    .e-cell-6.e-cell-small
      include ../molecules/_legendlist.pug
    .e-cell-6.e-cell-border_left.e-cell-small
      include ../molecules/_ringchart.pug
