extends partials/_layout.pug
block content
  .e-fullheight.e-fullheight-has_header
    header.e-topnav.e-topnav-fixed
      .e-topnav__container
        a.e-topnav__logo.e-topnav__logo-b2c(href='/')
          e-icon(icon='e-logo')
        input#e-topnav__mobilemenu.e-topnav__mobilemenu(type='checkbox')
        nav.e-menu
          ul.e-menu__list
            li.e-menu__item
              span.e-menu__name Atoms
              .e-menu__drop
                ul.e-menu__list.e-menu__list-child
                  li.e-menu__item.e-menu__item-child
                    a.e-menu__name.e-menu__name-child(href='/legend.html') Legend
                  li.e-menu__item.e-menu__item-child
                    a.e-menu__name.e-menu__name-child(href='/legendaside.html') Legend (aside)
                  li.e-menu__item.e-menu__item-child
                    a.e-menu__name.e-menu__name-child(href='/ring.html') Ring
            li.e-menu__item
              span.e-menu__name Molecules
              .e-menu__drop
                ul.e-menu__list.e-menu__list-child
                  li.e-menu__item.e-menu__item-child
                    a.e-menu__name.e-menu__name-child(href='/legendlist.html') Legend list
                  li.e-menu__item.e-menu__item-child
                    a.e-menu__name.e-menu__name-child(href='/ringchart.html') Ringchart
            li.e-menu__item
              span.e-menu__name Organisms
              .e-menu__drop
                ul.e-menu__list.e-menu__list-child
                  li.e-menu__item.e-menu__item-child
                    a.e-menu__name.e-menu__name-child(href='/segmentselector.html') Segment selector
            li.e-menu__item
              a.e-menu__name(href='layout.html' fullscreen='true') Page
    .e-fullheight__wrapper
      .e-fullheight__container
        iframe

  script.
    const menuElement = document.querySelector('.e-menu');
    const iframeElement = document.querySelector('iframe');
    if (window.location.hash) {
      const href = window.location.hash.substring(1);
      console.log(href);
      iframeElement.src = href;
    }

    menuElement.addEventListener('click', event => {
      const href = event.target.href;
      if (!href) {
        return;
      }

      if (event.target.getAttribute('fullscreen') === 'true') {
        return;
      }

      event.preventDefault();
      iframeElement.src = href;

      const parser = document.createElement('a');
      parser.href = href;
      window.location.hash = parser.pathname;
    });

