.e-legend.e-legend-aside
  .e-legend__row
    .e-legend__title Received
    .e-legend__value.text-color-opened 41,428
  .e-legend__row
    .e-legend__title Opened
    .e-legend__value.text-color-opened 6,309
  .e-legend__row
    .e-legend__title Clicked
    .e-legend__value.text-color-opened 371
